PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/sarkarimate
JWT_SECRET=change-me
FRONTEND_URL=http://localhost:5173,http://localhost:3000
DNS_SERVERS=8.8.8.8,1.1.1.1
